<div id="{{ attributes.id }}" class="{{ attributes.class }} clearfix"{{ attributes }}>
  <div class="block-inner">

    {{ title_prefix }}
    {% if label %}
      <h2 class="block-title"{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    <div class="content"{{ content_attributes }}>
      {{ content }}
    </div>
  </div>
</div> <!-- /block-inner /block -->