<section class="comments {{ attributes.class }}"{{ attributes }}>
  {% if comments and (entity.entityType != 'node' or entity.bundle != 'forum') %}
    {{ title_prefix }}
    <h2 class="title">{{ 'Comments'|t }}</h2>
    {{ title_suffix }}
  {% endif %}

  {{ comments }}

  {% if form %}
    <h2 class="title comment-form">{{ 'Add new comment'|t }}</h2>
    {{ form }}
  {% endif %}

</section>