<article class="{{ attributes.class }}">
  <header>
    {{ title_prefix }}
    <h3 class="title">{{ title }}</h3>
    {{ title_suffix }}

    {% if new %}
      <mark class="new">{{ new|capitalize }}</mark>
    {% endif %}

    {% if picture %}
      {{ picture }}
    {% endif %}

    <span class="submitted">{{ submitted }}</span>
  </header>

  <div class="content">
    {% hide(content.links) %}
      {{ content }}
    {% if signature %}
      <footer class="signature">{{ signature }}</footer>
    {% endif %}
  </div>

  {% if content.links %}
    <div class="links">{{ content.links }}</div>
  {% endif %}
</article><!-- /comment -->