<article id="node-{{ node.id }}" class="{{ attributes.class }}">

  {% if title_prefix or title_suffix or display_submitted or unpublished or page is empty and label %}
    <header>
      {{ title_prefix }}
      {% if page is empty and label %}
        <h2{{ title_attributes }}><a href="{{ node_url }}">{{ label }}</a></h2>
      {% endif %}
      {{ title_suffix }}

      {% if display_submitted %}
        <div class="submitted">
          {{ user_picture }}
          {{ submitted }}
        </div>
      {% endif %}

      {% if unpublished %}
        <p class="unpublished">{{ 'Unpublished'|t }}</p>
      {% endif %}
    </header>
  {% endif %}

  <div class="content">
    {#  We hide the comments to render below. #}
    {% hide(content.comments) %}
    {% hide(content.links) %}
    {{ content }}

  </div> <!-- /content -->

  {% if content.links.terms %}
    <div class="terms">
      {{ content.links.terms }}
    </div> <!-- /terms -->
  {% endif %}

  {% if content.links %}
    <div class="links">
      {{ content.links }}
    </div> <!-- /links -->
  {% endif %}

  {{ content.comments }}
</article> <!-- /article #node -->